@include media-sm {
  .info-form {
    .notes {
      width: 290px !important;
    }
    .second {
      width: 98%;
    }
  }
  .mail-form {
    input {
      margin-bottom: 10px;
    }
  }
}
@include media-md {
  .carousel {
    .carousel-img {
      width: 1000px;
    }
    .left-arrow,
    .right-arrow {
      top: 30%;
    }
  }

  .headline {
    h1 {
      font-size: 30px;
    }
    p {
      font-size: 1rem;
    }
  }

  .mail-form {
    width: 70%;
    input {
      padding: 15px 5px;
      width: 100%;
      margin-right: 10px;
    }
    button {
      width: 100%;
    }
  }
  .footer {
    text-align: center;
  }
  .section-3-text {
    text-align: center;
    h1 {
      font-size: 25px;
    }
    p {
      font-size: 0.9rem;
    }
    img {
      height: 100px;
    }
  }
  .section-2 {
    height: auto;
    .box {
      width: 200px;
      height: 200px;
      margin: 10px;
    }
  }
  .info-form {
    width: 80%;
    .notes {
      width: 600px;
      text-indent: 105px;
    }
    .selects {
      height: fit-content;
      display: flex;
      justify-content: space-evenly;
    }
    .custom-margin{
      display: none;
    }
    .second {
      .section {
        z-index: unset;
      }
      .textarea-label {
        position: absolute;
        top: 40px;
        left: 0;
      }
      .textarea {
        position: absolute;
        top: 40px;
        width: 100%;
      }
    }
  }
  html {
    width: 100%;
  }
  .menu {
    .mobile-menu,
    .mobile-menu-exit {
      display: block;
      cursor: pointer;
    }

    .mobile-menu {
      color: white;
      margin-top: 10px;
      height: 40px;
      position: absolute;
      right: 20px;
      z-index: 100;
    }
    .logo-image {
      width: 50px;
      height: 50px;
    }
    .logo-text {
      font-size: 15px;
    }
    .menu-items {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      background: darken($ternary-color, 40%);
      margin: 0;
      height: 270px;
      width: 100%;
      padding-top: 30px;
      z-index: 100;
      span {
        font-size: 0.9rem;
        margin: 5px 0;
      }
      .cross-line {
        transform: rotate(0deg);
        width: 50px;
      }
    }
    .menu-drop {
      width: 100%;
      left: -10px;
      font-size: 0.7rem;
    }
  }
  .carousel {
    .carousel-control-next,
    .carousel-control-prev {
      top: 50%;
      margin: 0;
    }
  }
  .text-section {
    .text {
      h1 {
        font-size: 40px;
        padding: 0 10px;
      }
      h3 {
        font-size: 20px;
      }
      .right-arrow {
        position: absolute;
        right: 10px;
      }
      .left-arrow {
        position: absolute;
        left: 10px;
      }
      .down-arrow {
        position: absolute;
        bottom: 30px;
      }
    }
  }
}
@include media-lg {
  html {
    width: 100%;
  }
  .menu-items {
    display: flex;
    .text {
      h1 {
        font-size: 50px;
      }
      h3 {
        font-size: 30px;
      }
    }
  }
}
@include media-xl {
}
